.btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: sans-serif;
}

.outline{
    background: none;
    border: 1px solide #fff;
}

.empty{
    background: none;
    border:  none;
}

.fill {
    background: #fff;
    border: none;
    color: #222
}